*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sidebar {
  width: 250px;
  padding: 10px;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.profile-button {
  width: 100%;
  padding: 10px;
  background-color: #26394d;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}


.groups-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.groups-toggle {
  width: 100%;
  padding: 8px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-align: left;
}

.groups-list {
  list-style: none;
  padding: 0;
}

.groups-list li {
  padding: 8px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
}


.create-group-button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.create-group-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background: none; 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  width: 50%;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-content h3 {
  margin: 0 0 20px;
  font-size: 20px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.create-button {
  padding: 10px 15px;
  background-color: #5b7085;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  padding: 10px 15px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
